@using StudentManagement.Models
@model IEnumerable<StudentDto>




@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Course</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Name</td>
            <td>@student.Department</td>
            <td>@student.CourseTitle</td>

            <td>
                <a asp-action="Details" asp-route-id="@student.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@student.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@student.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

